* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: yellowgreen;
}

body {
    background-color: #045e8f;
    color: white;
}

/* Header styling for Site Title and Section Titles */
.header {
    display: flex;
}

h1, h2, h3 {
    margin: 20px;
}

h1 {
    font-size: 64px;
}

/* Styling for navigation links */
.navigation ul {
    display: block;
    padding: 20px;
}
.navigation li {
    display: inline-block;
    position: relative;
    right: 0px;
    top: 20px;
    font-size: 20px;

} 

ul{
    list-style: none;
    display: flex;
}

li {
    justify-content: right;
    margin: 20px;
}

/* Initiate flex container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling for all cards containing information */
.infocard {
    background-color: white;
    color: #045e8f;
    padding: 20px;
    margin: 30px 10px;
    border-radius: 25px;
    box-shadow: 15px 15px red;
    
}

.infocard a:visited {
    color: green;
}

/* Styling for the Works section */
#Works h2 {
    text-align: center;
    background-color: white;
    color: #045e8f;
    padding: 10px;
    margin: 0px;
}

.workscard {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.workscard img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.workscard h4 {
    text-align: center;
    padding: 10px;
}

.workscard p {
    text-align: justify;
    padding: 10px;
}

/* This can be removed when the filler card is replaced */
#filler {
    width: 5000px;
}

/* Styling for the Contact Me card */
#Contact p {
    margin-bottom: 10px;
}

/* Accessibility styling  for textboxes*/
.textbox:hover {
    box-shadow: 0px 0px 3px #888
}

.textbox:focus {
    border-width: 2px; 
}

/* Footer Styiing */
footer {
    text-align: center;
}